<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="invoice-list-wrapper">
                    <div class="card">
                        <div class="card-datatable table-responsive">
                            <table class="invoice-list-table22 table">
                                <thead>
                                    <tr>
                                        <th>Invoice Number</th>
                                        <th>voice Date</th>
                                        <th>In</th>
                                        <th>Due</th>
                                        <th>Date</th>
                                        <th>Amt</th>
                                        <th>Tax</th>
                                        <th>Amt</th>
                                        <th>Amtt</th>
                                        <th>Details</th>
                                        <th>Actions</th>
                                    </tr>

                                </thead>
                                        <tbody>

                                            <tr >
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    <a href="invoice.html" class="btn btn-outline-primary waves-effect">View</a>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-primary waves-effect" data-bs-toggle="modal" data-bs-target="#default">
                                                        Pay
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    Test
                                                </td>
                                                <td>
                                                    <a href="invoice.html" class="btn btn-outline-primary waves-effect">View</a>
                                                    
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-primary waves-effect" data-bs-toggle="modal" data-bs-target="#default">
                                                        Pay
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                            </table>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->
	 <!-- Modal -->
 <div class="modal fade text-start" id="default" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Method Pay</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
 <!-- Modal -->