<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <section class="invoice-list-wrapper">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table" id="paymentsTable">
                            <thead>
                                <tr>
                                    <th>pmtKey</th>
                                    <th>CusID</th>
                                    <th>TransactionID</th>
                                    <th>Amount</th>
                                    <th>Processor Status</th>
                                    <th>Status Desc</th>
                                    <th>Date Processed</th>
                                    <th>Invoices</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
<input value="{{inv_filtering}}" class="d-none" id="invoices_list">
<input id="payments" value="{{payments}}" hidden>
{{#if admin}}<span id="admin"></span>{{/if}}
<!-- Modal -->