<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/438937/strength.min.js"  crossorigin="anonymous"></script>

<script>
	$(document).ready(function($) {
  const btna = document.getElementById('btn_sub');
$('#pswd').keyup(function() {
        // set password variable
        var pswd = $(this).val();
        //validate the length
        if ( pswd.length < 8 ) {
            $('#length').removeClass('valid').addClass('invalid');
        } else {
            $('#length').removeClass('invalid').addClass('valid');
        }

        //validate letter
        if ( pswd.match(/[A-z]/) ) {
            $('#letter').removeClass('invalid').addClass('valid');
        } else {
            $('#letter').removeClass('valid').addClass('invalid');
        }

        //validate capital letter
        if ( pswd.match(/[A-Z]/) ) {
            $('#capital').removeClass('invalid').addClass('valid');
        } else {
            $('#capital').removeClass('valid').addClass('invalid');
        }

        //validate number
        if ( pswd.match(/\d/) ) {
            $('#number').removeClass('invalid').addClass('valid');
        } else {
            $('#number').removeClass('valid').addClass('invalid');
        }
		
		if (pswd.length >= 8 && pswd.match(/[A-z]/) && pswd.match(/[A-Z]/) && pswd.match(/\d/)){
			$('#btn_sub').removeAttr('disabled')
		}else{
			btna.setAttribute('disabled', true);
			console.log("holamundo")
		}
    }).focus(function() {
        $('#pswd_info').show();
    }).blur(function() {
        $('#pswd_info').hide();
    });
});
</script>
<style>
	#pswd_info {
    position:sticky;
    bottom:-75px;
    bottom: -115px\9; /* IE Specific */
    right:55px;
    width:100%;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}
#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
.invalid {
    background:url(../images/invalid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url(../images/valid.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
#pswd_info {
    display:none;
}
</style>

<a href="/" class="btn-return-landing">
	<i class="fa fa-times"></i>
</a>
<h2 class="box-contact__title text-center">Sé parte de nuestra familia</h2>
{{#if messages}}
	{{#showAlerts messages}}
	{{/showAlerts}}
{{/if}}
<form method="post" action="/register" class="form-contact" autocomplete="off" id="myform">
	<input type="text" class="form-control" placeholder="Nombre" required name="name">
	<input type="text" class="form-control" placeholder="Apellido" required name="lastName">
	<input type="email" class="form-control" placeholder="Correo" required name="email">
	<input type="password" class="form-control" placeholder="Contraseña" required name="password" id='pswd'>
	<div id="pswd_info">
   <ul>
      <li id="letter">Al menos debería tener <strong>una letra</strong></li>
      <li id="capital">Al menos debería tener <strong>una letra en mayúsculas</strong></li>
      <li id="number">Al menos debería tener <strong>un número</strong></li>
      <li id="length">Debería tener <strong>8 carácteres</strong> como mínimo</li>
   </ul>
</div>
	<input type="password" class="form-control" placeholder="Confirmar contraseña" required name="confirmPassword">
	<button type="submit" class="btn btn-primary btn-block" disabled id="btn_sub">Crear cuenta <i class="fa fa-angle-right"></i></button>
	<div class="o-separator"></div>
	<a href="/auth/facebook" class="btn btn-gray btn-block btn-login-with">
		<i class="fab fa-facebook"></i>
		Continuar con Facebook
	</a>
	<a href="/auth/google" class="btn btn-gray btn-block btn-login-with">
		<img src="/assets/img/google-icon.png" alt="Icono de Google" class="btn-social-icon">
		Continuar con Google
	</a>
	<a href="/auth/mixcloud" class="btn btn-gray btn-block btn-login-with">
		<i class="fab fa-mixcloud"></i>
		Continuar con MixCloud
	</a>
	<p class="text-center text-desc">Si continúas, aceptas los <strong><a href="/terminos" target="_blank">Términos del servicio</a></strong> y la <strong><a href="/privacidad" target="_blank">Política de privacidad</a></strong> de nuestro sitio.</p>
</form>