<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-basic px-2">
                <div class="auth-inner my-2">
                    <!-- Login basic -->
                    <div class="card mb-0">
                        <div class="card-body">

                            <a href="./" class="brand-logo">
                                <img src="../../../app-assets/images/logo/logo.png" class="round" alt="" width="100"
                                    height="auto">
                            </a>

                            <h4 class="card-title mb-1">Welcome! 👋</h4>
                            <p class="card-text mb-2">Please set your new pass</p>

                            <form class="auth-login-form mt-2" action="/new-pass-save" method="post"
                                id="reset-pass-form">
                                <input type="text" class="d-none" id="email" name="email" value="{{email}}"
                                    aria-describedby="login-email" tabindex="1" />
                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="login-password">Set Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge" id="password"
                                            name="password" tabindex="2"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="login-password" required />
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                    <div id="pswd_info">
                                        <ul>
                                            <li id="letter">It should have at least<strong>one letter</strong></li>
                                            <li id="capital">Should have at least <strong>one uppercase letter</strong>
                                            </li>
                                            <li id="number">Should have at least <strong>a number</strong></li>
                                            <li id="length">Should have at least <strong>8 characters</strong> minimun
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="repeat-password">Confirm Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge"
                                            id="repeat-password" name="confirmpassword" tabindex="2"
                                            placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                            aria-describedby="login-password" required />
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                </div>

                                <button class="btn btn-primary w-100" tabindex="4" id="btn_sub" disabled>Save</button>
                            </form>
                        </div>
                    </div>
                    <!-- /Login basic -->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Content-->
<script>
    $('#reset-pass-form').submit((e) => {
        e.preventDefault()
        console.log(' here')
        if ($('#password').val() != $('#repeat-password').val()) {
            swal.fire('Passwords did not match')
            return
        }
        e.currentTarget.submit();
    })
</script>
<script>
    $(document).ready(function ($) {
        const btna = document.getElementById('btn_sub');
        $('#password').keyup(function () {
            // set password variable
            var pswd = $(this).val();
            //validate the length
            if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
            } else {
                $('#length').removeClass('invalid').addClass('valid');
            }

            //validate letter
            if (pswd.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
            }

            //validate capital letter
            if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
            }

            //validate number
            if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
            } else {
                $('#number').removeClass('valid').addClass('invalid');
            }

            if (pswd.length >= 8 && pswd.match(/[A-z]/) && pswd.match(/[A-Z]/) && pswd.match(/\d/)) {
                $('#btn_sub').removeAttr('disabled')
            } else {
                btna.setAttribute('disabled', true);
                console.log("holamundo")
            }
        }).focus(function () {
            $('#pswd_info').show();
        }).blur(function () {
            $('#pswd_info').hide();
        });
    });
</script>
<style>
    #pswd_info {
        position: sticky;
        bottom: -75px;
        bottom: -115px\9;
        /* IE Specific */
        right: 55px;
        width: 100%;
        padding: 15px;
        background: #fefefe;
        font-size: .875em;
        border-radius: 5px;
        box-shadow: 0 1px 3px #ccc;
        border: 1px solid #ddd;
    }

    #pswd_info h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
    }

    #pswd_info::before {
        content: "\25B2";
        position: absolute;
        top: -12px;
        left: 45%;
        font-size: 14px;
        line-height: 14px;
        color: #ddd;
        text-shadow: none;
        display: block;
    }

    .invalid {
        background: url(../images/invalid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #ec3f41;
    }

    .valid {
        background: url(../images/valid.png) no-repeat 0 50%;
        padding-left: 22px;
        line-height: 24px;
        color: #3a7d34;
    }

    #pswd_info {
        display: none;
    }
</style>