    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-basic px-2">
                    <div class="auth-inner my-2">
                        <!-- Login basic -->
                        <div class="card mb-0">
                            <div class="card-body">
                              
                                <a href="./" class="brand-logo">
                                    <img src="../../../app-assets/images/logo/logo.png" class="round" alt="" width="100" height ="auto">
                                   
                                </a>

                                <h4 class="card-title mb-1">Welcome! 👋</h4>
                                <p class="card-text mb-2">Please set, your new pass</p>

                                <form class="auth-login-form mt-2" action="/new-pass-save" method="post">
<input type="text" class="form-control" id="email" name="email" value="{{email}}" aria-describedby="login-email" tabindex="1"  />
                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" for="login-password">Set Password</label>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input type="password" class="form-control form-control-merge" id="password" name="password" tabindex="2" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="login-password" required/>
                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        </div>
                                    </div>
                                   
                                    <button class="btn btn-primary w-100" tabindex="4">Save</button>
                                </form>

                               
                               

                              
                            </div>
                        </div>
                        <!-- /Login basic -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->