<a href="/" class="btn-return-landing">
	<i class="fa fa-times"></i>
</a>
<h2 class="box-contact__title text-center">Busca tu cuenta</h2>
{{#if messages}}
	{{#showAlerts messages}}
	{{/showAlerts}}
{{/if}}
<form method="post" action="/search-account{{#if token}}-token{{/if}}" class="form-contact" autocomplete="off">
 {{#if token}} {{/if}}
	<input type="email" class="form-control" placeholder="Correo" name="email">
	<button type="submit" class="btn btn-primary btn-block">Buscar cuenta <i class="fa fa-angle-right"></i></button>
</form>
<p class="text-center mt-4 mb-0">Te enviaremos un correo inmediatamente para que recuperes tu cuenta, recuerda revisar tu bandeja de spam.</p>