<div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-basic px-2">
                    <div class="auth-inner my-2">
                        <!-- verify email basic -->
                        <div class="card mb-0">
                            <div class="card-body">
                               <a href="#" class="brand-logo">
                                <img src="../../app-assets/images/logo/saw_logo.jpg" class="round" alt="" width="320"
                                    height="auto">

                            </a>

                                <h2 class="card-title fw-bolder mb-1">Verify your email ✉️</h2>
                                <p class="card-text mb-2">
                                    We've sent a link to your email address: <span class="fw-bolder">{{mail}}</span> Please follow the
                                    link inside to continue.
                                </p>

                                <a href="/login" class="btn btn-primary w-100">Skip for now</a>

                                <p class="text-center mt-2">
                                     <form class="auth-login-form mt-2" action="/resetpassform" method="post" id="form-send">
                                <input type="text" class="d-none" id="email" name="email"
                                    aria-describedby="login-email" tabindex="1" />
                                <span>Didn't receive an email? </span><a id="sendSubmit"><span>&nbsp;Resend</span></a>
                                
                            </form>
                                </p>
                            </div>
                        </div>
                        <!-- / verify email basic -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $('#sendSubmit').click(()=>{
            $('#form-send').submit()
        })
    </script>