<!-- Modal -->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light" {{#if print_inv}} style="position: fixed;bottom: 0; text-align: justify;"{{/if}}>
    {{#if print_inv}}
    <div class="row" style="font-size:x-small;">
                    <div class="col-12">
                        <span class="fw-bold">Note:</span>
                        <span>Invoices are payable in thirty (30) days. A 1.5% carrying charge will be added to the current statutory charges of 1.5 percent (CA B & P code 25509) on all balances unpaid after forty-two (42) days and each thirty (30) days thereafter and will result in loss of any discount. Customers may lose credit privileges and may be reported to State ABC Authorities when goods are in buyer’s possession or buyer’s agent signs delivery receipt. Such acceptance of goods confirms agreement that this and all prior invoices are payable at the address above.</span>
                    </div>
                </div>
                {{else}}
               <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a class="ms-25" href="#">SAN ANTONIO WINERY</a><span class="d-none d-sm-inline-block">, All rights
                Reserved</span></span></p> 
    {{/if}}
    
</footer>
<button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
<!-- END: Footer-->
<!-- BEGIN: Vendor JS-->
<script src="../../../app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN: Page Vendor JS-->
<script src="../../../app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
<script src="../../../app-assets/vendors/js/extensions/moment.min.js"></script>
<script src="../../../app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
<script src="../../../app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
<script src="../../../app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
<script src="../../../app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
<script src="../../../app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
<script src="../../../app-assets/vendors/js/tables/datatable/responsive.bootstrap5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone.min.js"></script>
<script src="../../../app-assets/vendors/js/extensions/jquery.contextMenu.min.js"></script>
<script src="../../../app-assets/vendors/js/extensions/jquery.ui.position.min.js"></script>
<script src="../../../app-assets/vendors/js/forms/wizard/bs-stepper.min.js"></script>
<script src="../../../app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"></script>
<script src="../../../app-assets/vendors/js/extensions/toastr.min.js"></script>
<script src="../../../app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../../../app-assets/js/core/app-menu.js"></script>
<script src="../../../app-assets/js/core/app.js"></script>
<!-- END: Theme JS-->
<!-- BEGIN: Page JS-->
    <script src="../../../app-assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/pickadate/legacy.js"></script>
    <script src="../../../app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>

{{#if login}}
{{!-- This this script is loaded only on the login page --}}
<script src="../../../app-assets/js/scripts/pages/auth-login.js"></script>
{{/if}}

{{#if invoiceC}}
{{!-- This this script is loaded only on the closed invoices page --}}
{{!-- Contains what is related to the dataTable --}}
<script src="../../../assets/data/app-invoice-listC.js"></script>
{{/if}}

{{#if invoiceO}}
{{!-- This this script is loaded only on the open invoices page --}}
{{!-- Contains what is related to the dataTable --}}
<script src="../../../assets/data/app-invoice-listO.js"></script>

{{/if}}

{{#if sysSettings}}
{{!-- This this script is loaded only when user role is 4 --}}
{{!-- Contains what is related to the dataTable --}}
<script src="../../../assets/data/app-SysSettings.js"></script>
{{/if}}

{{#if payments}}
{{!-- This this script is loaded only on the payments page --}}
{{!-- Contains what is related to the dataTable --}}
<script src="../../../assets/data/payments.js"></script>
{{/if}}

{{#if payment_detail}}
{{!-- This this script is loaded only on the payment detail page --}}
{{!-- Contains what is related to the dataTable --}}
<script src="../../../assets/data/payments_detail.js"></script>
{{/if}}
{{#if payment_detail_print}}
{{!-- This this script is loaded only on the payment detail page printable --}}
{{!-- Contains what is related to the dataTable --}}
<script src="../../../assets/data/payments_detail_print.js"></script>
{{/if}}

{{#if print_inv}}
{{!-- This this script is loaded only on the print inv page --}}

<script src="../../../app-assets/js/scripts/pages/app-invoice-print.js"></script>
{{/if}}

{{#if pay_invoices}}
{{!-- This this script is loaded only on the payment invoices page --}}
<script src="../../../assets/data/checkout-payment-invoices.js"></script>
{{/if}}

<!-- END: Page JS-->

<script>
    $(window).on('load', function () {
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }
    })
    $(document).ready(function () {
        if ($("#msgs").length) {
            let msg = $('#msgs').text();
            Swal.fire(msg)
        }
    })
</script>
</body>
<!-- END: Body-->
</html>