@media(max-width: 1000px) {
    table thead tr th, table.dataTable thead th {
        font-size: 12px;
    }
    table tbody tr td, table.dataTable tbody td {
        font-size: 12px;
    }
}
@media(max-width: 768px) {
    table thead tr th, table.dataTable thead th {
        font-size: 10px;
    }
    table tbody tr td, table.dataTable tbody td {
        font-size: 11px;
    }
}

.expanded .navbar-header.expanded .navbar-brand .brand-logo img {
    width: 100%;
    max-width: unset;
    object-fit: cover;
  }
.expanded .navbar-header.expanded {
    margin-bottom: 30px;
  }
  .brand-logo img {
    transition: .3s ease all;
  }
